img {
    width: 100px;
    height: 100px;
}

#collapsibleNavbar a:hover {
    text-decoration: underline;
}

.container {
    font-size: 25px;
}

.nav-link {
    font-size: 2rem;
}



.oblecenie-list {
    width: 100%;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.oblecenie-list li {
    width: 30%;
    border: 1px solid black;
    text-align: center;
    margin: 10px auto;
}
.oblecenie-list li img {
    width: 100%;
    height: auto;
}
.oblecenie-list li h1 {
    font-size: 2em;
}
.oblecenie-list li h2 {
    font-size: 1.3em;
    font-weight: normal;
}




.oblecenie-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.oblecenie-detail li {
    text-align: center;
}
.oblecenie-detail li img {
    width: 50%;
    height: auto;
    margin: auto;
}
.oblecenie-detail h1 {
    font-size: 3em;

}
.oblecenie-detail h2 {
    font-size: 1.5em;
    font-weight: normal;
}



form .form-input {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px auto;
}
form .form-input * {
    display: block;
    width: 100%;

}
form label {
    font-weight: bold;
    margin: 0;
}