img {
    width: 100px;
    height: 100px;
}

#collapsibleNavbar a:hover {
    text-decoration: underline;
}

.obrazok {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
}

.container {
    font-size: 30px;
}

.nav-link {
    font-size: 2rem;
}

