<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#"><img src="img/oblecenie.jpg"/></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="index.php">Domov</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="kontakt.html">Kontakt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="vypredaj.html">Výpredaj</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Muži
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Zimné oblečenie</a>
                    <a class="dropdown-item" href="#">Letné oblečenie</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    Ženy
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Zimné oblečenie</a>
                    <a class="dropdown-item" href="#">Letné oblečenie</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="adminIndex.php">Admin</a>
            </li>
        </ul>
    </div>
</nav>